# APatch
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

# Cpuset Assist
CONFIG_CPUSET_ASSIST=y
CONFIG_CPUSET_AUDIO_APP="0-3"
CONFIG_CPUSET_CAMERA="0-3"
CONFIG_CPUSET_RESTRICTED="0-3"

# MGLRU
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# KernelSU
CONFIG_KSU=y

# KProfiles
CONFIG_KPROFILES=y
CONFIG_DEFAULT_KP_MODE=2
CONFIG_AUTO_KPROFILES=y

# SIMPLE_LMK
CONFIG_ANDROID_SIMPLE_LMK=y
